{% extends 'base/main.html' %}
{% block content %}





<div class="header-bar"> 
  <div>
    <h1>Hello {{request.user|title}}</h1> <!-- here |title for user's first capital letter -->
    <h3 style="margin: 0">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3> <!--"s" will be added when task number more then one-->
  </div>
    
  {% if request.user.is_authenticated %}
  <form action="{% url 'logout' %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="logout">
        Logout
      </button>
  </form>
  {% else %}
  <a href="{% url 'login' %}">LogIn</a>
  {% endif %}
</div>



<!--
<hr>

<h1>ToDo List {{color}}</h1>
<a href = '{% url 'task-create' %}'>add task</a>

<form method="GET">
  <input type='text' name='search-area' value="{{search_input}}">
  <input type='submit' value='Search'>
</form>
-->


<div class="task-item-wrapper">
  {% for task in tasks %}
    <div class="task-wrapper">
      {% if task.complete %}
        <div class="task-title">
          <div class="task-complete-icon"></div>
          <i><s><a href="{% url 'task-update' task.id %}"></a></s></i>
        </div>
      {% endif %}
    </div>
  {% empty %}
  <h3>No item in list</h3>
  {% endfor %}

</div>




<table>
  <tr>
    <th>Item</th>
    <th></th>
    <th></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <th>{{ task.title }}</th>
    <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
    <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
  </tr>
  {% empty %}
  <h3>no item in list</h3>
  {% endfor %}
</table>


{% endblock content %}  